/* CSS declarations go here */
label {
  display:block;
}

#google_translate_element {
  padding-top: 12px;
  padding-bottom: 12px;
}

button {
  display: inline-block;
}

.invalid-field {
  border-color: #FF9999;
}

span.input-validation {
  color: #FF9999;
  display:block;
}

li {
  list-style-type: none;
}

.job-posting {
  border: 1px solid black;
  padding: 45px 15px 15px;
  margin: 0 -15px 15px;

}

.navbar-fixed-top {
  position: absolute;
}

body {
}

.main {
  position: relative;
  top: 60px;
}
