/* CSS declarations go here */
label {
  display:block;
}

button {
  display: inline-block;
}

.invalid-field {
  border-color: #FF9999;
}

span.input-validation {
  color: #FF9999;
  display:block;
}

li {
  list-style-type: none;
}

.job-posting {
  border: 1px solid black;
}
